<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact info</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="height: 50%" src="../assets/image/contact.jpg"></ion-img>
<ion-grid size-lg=6 offse-lg=3 size-md=12>
  <ion-row>
    <ion-col size="6">
      <ion-label>
          nom
      </ion-label>
    </ion-col>
    <ion-col size="6">
      {{ contact.firstName}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-label>
          Prenom
      </ion-label>
    </ion-col>
    <ion-col size="6">
      {{ contact.lastName}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-label>
          Email
      </ion-label>
    </ion-col>
    <ion-col size="6">
      {{ contact.email }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-label>
          Telephone 1
      </ion-label>
    </ion-col>
    <ion-col size="6">
      {{ contact.tel1 }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-label>
          Telephone 2
      </ion-label>
    </ion-col>
    <ion-col size="6">
      {{ contact.tel2 }}
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
